POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=postgres
POSTGRES_APP_DB=labvault
POSTGRES_APP_USER=labvault
POSTGRES_APP_PASSWORD=labvault_password
POSTGRES_KEYCLOAK_DB=keycloak
POSTGRES_KEYCLOAK_USER=keycloak
POSTGRES_KEYCLOAK_PASSWORD=keycloak_password

REDIS_PORT=6379
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

WEB_PROTOCOL=http
WEB_HOST=localhost
WEB_PORT=3000
SERVER_PROTOCOL=http
SERVER_HOST=localhost
SERVER_PORT=3001
CORS_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=
